@import '../thems.less';

.articleWrap{
  color: @priColor;
  padding: 15px;
  padding-bottom: 50px;
  .arcTitle{
    font-size: 16px;
    color: #222;
    line-height: 20px;
  }
  .arcCon{

  }
  .arcBot{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    background: #fff;
  }
}